body {
    background: url(https://wallpaperaccess.com/full/4987069.jpg);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f7 !important;
}

.loader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    top: 50%;
    width: 3rem;
}

.dark-modal .modal-content {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .dark-modal .modal-header,
  .dark-modal .modal-footer {
    background-color: #23272b;
  }
  
  .dark-modal .modal-title {
    color: #ffffff;
  }
  

.dancing-script {
    font-family: 'Dancing Script', cursive;
}

.bold {
    font-weight: bold;
}

.white {
    color: #f5f5f7 !important;
}

.custom-toggle::after {
    display: none;
}

.glass-effect {
    /* From https://css.glass */
    background: rgba(43, 48, 53, 0.35);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(43, 48, 53, 0.3);
}

.glass-effect:hover {
    background: rgba(43, 48, 53, 0.90);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    -webkit-backdrop-filter: blur(2.9px);
    border: 1px solid rgba(43, 48, 53, 0.3);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #2B3035;
  color: #f5f5f7;
}

/* Add this CSS to your stylesheet */
/* For Webkit-based browsers */
::-webkit-scrollbar {
    width: 3px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #2B3035;
}
  
/* For Firefox */
::-moz-scrollbar {
    width: 3px;
}
  
::-moz-scrollbar-thumb {
    background-color: #2B3035;
}
  
/* For IE, Edge, and Opera */
 /*  scrollbar-color: red;
  scrollbar-width: thin; */